.sidebar{
    flex: 1;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    background-color: #c0bcce;//sidebar background color
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }
    }

    hr{
        height: 0;
        border: 0.5px solid lightgray ;
    }

    center{
        padding-left: 10px;
    }

    ul{
        list-style: none; //enlever les points sur li
        margin: 0;
        padding: 10px;
        .title{
            font-size: 10px;
            font-weight: bold;
            color: #999;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        li{
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            border-radius: 10px;//arrondir les coins du li

            &:hover{
                background-color: #ece8ff;//color when hovering over a menu item
            }

            .icons{
                font-size: 20px;
                color: #7451f8;
                margin-right: 5px;//espacement entre l'icon et le texte
            }

            span{
                font-size: 13px;
                font-weight: 600;
            }
        }     
    }

    .botom{
        display: flex;
        align-items: center;
        margin: 10px;


        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5%;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: rgb(244, 235, 235);;
            }
            &:nth-child(2){
                background-color: rgb(0, 0, 0)
            }
            &:nth-child(3){
                background-color: rgb(7, 7, 221);;
                }
            }
        }
}